* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Merriweather";
  src: url("https://fonts.googleapis.com/css?family=Merriweather");
}
@font-face {
  font-family: "Varta";
  src: url("https://fonts.googleapis.com/css2?family=Varta");
}
p {
  font-family: "Varta";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: rgba(112, 100, 88, 0.9);
}

h4 {
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: -0.2px;
  color: #A06056;
}

a {
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 25px;
  letter-spacing: 0.3px;
  color: #A06056;
  text-decoration: none;
}

li {
  list-style-type: none;
}

email {
  width: 296.1px;
  height: 50px;
  background: rgba(243, 238, 232, 0.3);
  border-radius: 1px;
  font-family: "Varta";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: rgba(112, 100, 88, 0.9);
  padding: 5px;
}

.wrapper {
  height: auto;
  width: 100%;
  background-color: #F3EEE8;
}
.wrapper-container {
  width: 100%;
  max-width: 1540px;
  height: auto;
  margin: 0 auto;
  padding: 10px;
}
.wrapper ._main-container {
  display: flex;
  justify-content: space-between;
}

.wrapper-content-main {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100vh;
}
@media (max-width: 900px) {
  .wrapper-content-main {
    width: 100%;
    text-align: center;
  }
}

.header {
  width: 100%;
  height: 80px;
  display: flex;
  margin-top: 10px;
}
.header-logo {
  width: 150px;
  margin-right: 10px;
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 25px;
  letter-spacing: 2px;
  color: #A06056;
}
.header-nav {
  width: auto;
  color: #706458;
  font-family: "Varta";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}
.header-nav li {
  display: inline;
  margin-right: 40px;
}
.header-nav li:hover {
  border-bottom: 2px solid rgb(80, 73, 73);
  transition-duration: 1s;
}

.content-main-text {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 60px;
  color: #A06056;
  font-family: "Varta";
  font-style: normal;
  margin-top: 120px;
}
.content-main-text p {
  width: 420px;
  height: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 1px;
}
.content-main-text h1 {
  width: 420px;
  height: 210px;
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 300;
  font-size: 50px;
  line-height: 70px;
  letter-spacing: -0.4px;
}
.content-main-text h4 {
  width: 420px;
  height: 62px;
  font-weight: 300;
  font-size: 22px;
  line-height: 31px;
  color: rgba(112, 100, 88, 0.9);
}

.img {
  width: 50%;
  background-repeat: no-repeat;
  background-image: url("../imgs/main.png");
}

@media (max-width: 900px) {
  .wrapper ._main-container {
    display: block;
    background-image: url("../imgs/Picture.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
  .wrapper .img {
    display: none;
  }
  .header-logo,
.content-main-text {
    color: #FFFFFF;
  }
  .content-main-text p, .content-main-text h1, .content-main-text h4 {
    color: #FFFFFF;
    width: 100%;
  }
}
@media (max-width: 500px) {
  .wrapper ._main-container {
    background-size: auto;
    background-position-x: center;
  }
}
/* Find your room */
.page2 {
  margin-bottom: 100px;
}

.section1 {
  width: 100%;
  height: auto;
  margin-top: 40px;
}
.section1-title {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 400;
  font-size: 55px;
  line-height: 60px;
  letter-spacing: -0.6px;
  color: #706458;
}
.section1-content {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin: 30px auto;
}
.section1-content-box {
  width: 50%;
  display: flex;
}
.section1-content-box p {
  width: 165px;
  height: 100px;
  font-family: "Varta";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: rgba(112, 100, 88, 0.9);
  margin-right: 30px;
}
.section1-content .__livingRoom {
  justify-content: center;
}
.section1-content-img {
  background-repeat: no-repeat;
  width: 400px;
  height: 354px;
}
.section1-content-img h1 {
  margin-top: 37px;
  text-align: end;
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 400;
  font-size: 55px;
  line-height: 60px;
  color: #A06056;
  width: 80%;
}
.section1-content-img p {
  text-align: end;
  width: 100%;
}
.section1-content .__BadRoomImg {
  background-image: url("../imgs/bet.png");
}
.section1-content .__livingRoomImg {
  background-image: url("../imgs/livingRoom.png");
}

@media (max-width: 900px) {
  .section1-title {
    text-align: center;
  }
  .section1-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .section1-content-img {
    width: 80%;
  }
  .section1-content-box {
    width: 100%;
    display: block;
  }
  .section1-content-box p {
    width: 100%;
    height: auto;
    margin-bottom: 40px;
  }
  .section1 .__livingRoomImg {
    margin-top: 40px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0.5)), url("../imgs/livingRoom.png");
  }
  .section1 .__BadRoomImg {
    background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0.5)), url("../imgs/bet.png");
  }
}
/*We stay by your side to design your projects*/
.section2-title {
  width: 458px;
  height: 188px;
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 400;
  font-size: 55px;
  line-height: 60px;
  letter-spacing: -0.6px;
  color: #706458;
}
@media (max-width: 1200px) {
  .section2-title {
    font-size: 40px;
    width: auto;
  }
}
@media (max-width: 1005px) {
  .section2-title {
    font-size: 30px;
  }
}
.section2-box {
  width: 50%;
  display: table-row;
}
.section2-box-items {
  display: flex;
  gap: 40px;
}
@media (max-width: 1200px) {
  .section2-box {
    width: 56%;
  }
}
@media (max-width: 1005px) {
  .section2-box {
    width: 66%;
  }
}
.section2 .item {
  width: 358.5px;
  height: auto;
  font-family: "Varta";
  font-style: normal;
  margin-bottom: 50px;
}
.section2 .item h4 {
  margin-bottom: 25px;
}
.section2 .item p {
  font-weight: 400;
  width: 258.5px;
}
@media (max-width: 1005px) {
  .section2 .item p {
    width: 200px;
  }
}

@media (max-width: 900px) {
  .section2-title {
    width: 311px;
    height: 120px;
    font-size: 35px;
    line-height: 40px;
    letter-spacing: -0.3px;
    margin-bottom: 40px;
  }
  .section2-box-items {
    display: block;
  }
}
/*Be aware of the latest trends*/
.section3 {
  background: #FFFFFF;
  border: 2px solid rgb(255, 255, 255);
}
.section3-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  margin-top: 40px;
}
.section3-text-title {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 300;
  font-size: 35px;
  line-height: 40px;
  margin-bottom: 20px;
}
.section3-text-subtitle {
  margin-bottom: 20px;
}
.section3-contacts {
  width: 50%;
  display: flex;
  justify-content: end;
  gap: 40px;
  margin: auto 0;
}
.section3-contacts button {
  width: 143.11px;
  height: 50px;
  background: #534B42;
  border-radius: 1px;
  font-family: "Karla";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 25px;
  color: #F3EEE8;
  padding: 5px;
}

.__container-sections {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 900px) {
  .__container-sections {
    display: flex;
    flex-direction: column;
  }
  .section3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .section3-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
  .section3-contacts {
    display: flex;
    flex-direction: column;
    gap: 0;
    margin-top: 40px;
  }
}
/*---------slider------*/
.__container-slider {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 600px) {
  .__container-slider {
    display: flex;
    margin: 0 auto;
  }
}

.contaiter-slider {
  width: 60%;
}

.slide {
  display: none;
}

.open {
  display: flex;
  height: 570px;
}
.open img {
  width: 100%;
  height: auto;
  padding: 10px;
}
@media (max-width: 700px) {
  .open {
    height: 400px;
  }
}
@media (max-width: 500px) {
  .open {
    height: 250px;
  }
}
@media (max-width: 400px) {
  .open {
    height: 200px;
  }
}

.next {
  border: 1px solid #534B42;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  margin-left: auto;
}
.next:hover {
  color: #F3EEE8;
  border: 1px solid #534B42;
  transition: 0.5s ease;
  background-color: rgba(83, 75, 66, 0.0745098039);
}
.next svg {
  margin: auto 0;
}

.contaiter-text {
  width: 60%;
  margin: auto 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.contaiter-text h3 {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 300;
  font-size: 45px;
  line-height: 40px;
  letter-spacing: -0.3px;
  color: #534B42;
}

@media (max-width: 900px) {
  .__container-slider {
    flex-direction: column;
  }
  .contaiter-slider {
    width: 100%;
  }
  .contaiter-text {
    width: 100%;
  }
  .contaiter-text p {
    width: 80%;
  }
}
@media (max-width: 600px) {
  .contaiter-text p {
    width: 100%;
  }
}
/*footer*/
.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-content-items {
  width: auto;
  height: 430px;
}
.footer-content-items h4 {
  color: #534B42;
  font-size: 25px;
}
@media (max-width: 900px) {
  .footer-content-items h4 {
    font-size: 20px;
  }
}
.footer-content-items-box ul {
  font-family: "Varta";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #706458;
}
.footer-content-items-box li {
  padding: 8px 1px;
}
.footer-content-items-box li:first-child {
  margin-top: 30px;
}
.footer-content-items-box p, .footer-content-items-box img {
  padding: 7px;
}
.footer-content-items-box p {
  width: 260px;
}
.footer-content-items-box img {
  margin: 40px auto 0px;
  width: 100%;
}
.footer-nav {
  margin-top: 100px;
  max-width: 1540px;
  margin: 0 auto;
  margin-bottom: auto;
}
.footer-nav-networks {
  text-align: center;
}
.footer-nav-networks svg {
  margin-right: 20px;
}
.footer-nav-networks svg:hover {
  transform: scale(0.5);
  transition-duration: 1s;
}
.footer-info {
  display: flex;
  justify-content: space-between;
  color: rgba(112, 100, 88, 0.7);
}
.footer-info ul {
  display: flex;
}
.footer-info ul li {
  margin-right: 10px;
}

.__footer-logo {
  height: 430px;
}

@media (max-width: 900px) {
  .page2 {
    margin-bottom: 40px;
  }
  .footer-content {
    display: flex;
    flex-direction: column;
    justify-content: start;
  }
  .footer-content-items {
    border-bottom: 1px solid rgba(112, 100, 88, 0.3215686275);
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  .footer-content-items-box img {
    width: 50%;
  }
  .footer-info {
    flex-direction: column;
    padding: 30px 0;
  }
  .__footer-logo {
    width: 100%;
    text-align: center;
    height: 50px;
    color: #534B42;
  }
}
@media (max-width: 1900px) {
  .wrapper-container,
.footer-info {
    padding: 40px;
  }
}
/*hidden menu when 600px*/
.menu {
  display: none;
}

@media (max-width: 900px) {
  .menu {
    display: block;
    height: 25px;
    position: absolute;
    top: 52px;
    right: 20px;
    margin-right: 10px;
  }
  .header-nav {
    width: 100px;
    position: absolute;
    top: 80px;
    right: 10px;
  }
  .header-nav li {
    display: block;
    text-align: start;
    margin-bottom: 20px;
    width: 100%;
  }
  .header-nav li a {
    color: #F3EEE8;
  }
  .close {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */